body{
    box-sizing: border-box;
    background: white;
    font-family: 'Nunito', sans-serif;
    font-size:1rem;
    font-weight:400;
    color:#913031;
    margin: 0;
    padding: 0;
    position: relative;
    -webkit-font-smoothing: antialiased;
}
.topHeader{
    height: 60px;
    background-color: #f5f5f6;
}
.verifyBox{
    box-shadow: rgb(0 0 0 / 15%) 0px 2px 10px;
    border: none;;
    width: 700px;
}

.imgVeri{
    width: 200px;
}
.imgClass{
    max-width: 100%;
}
.headerText{
    margin: 0;
    font-family:'Nunito', sans-serif;
    font-weight:600;
    font-size: 32px;
    letter-spacing: -1.24px;
    line-height: 36px;
}
.subText{
  font-weight: 700;
  color:#6b6b6b ;  
}
.tdn{
    text-decoration: none;
}
.verifyBtn{
    border: none;
    outline: none;
    background-color: inherit;
    display: flex;
    flex: 1;
    justify-content: center;
    background-color: #5356ee;
    font-size: 14px;
    height: 35px;
    max-width: 180px;
    line-height: 34px;
    font-weight: 600;
    border-radius:0.25rem;
    color: #fff;
    cursor: pointer;
    margin-right: 1%;
    -webkit-border-radius:0.25rem;
    -moz-border-radius:0.25rem;
    -ms-border-radius:0.25rem;
    -o-border-radius:0.25rem;
}

.minText{
    font-size: 14px;
}

.verLink{
    font-size: 14px;
    color:#5356ee;
}